Copyright (c) ${years} ${owner}
All rights reserved.

This file is part of ${projectname} (see ${projecturl}).

Redistribution and use in source and binary forms, with or without
modification, are only allowed with permission.

This software is background information.

${author}
